.popup__line-name {
  max-width: 358px;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #000;
  margin: 0 auto 13px auto;
}

@media screen and (max-width: 320px) {
  .popup__line-name {
    max-width: 238px;
  }
}
