.popup__button {
  width: 358px;
  min-height: 50px;
  display: block;
  margin: 0 auto 37px auto;
  padding: 0;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .popup__button {
    width: 238px;
    min-height: 46px;
    margin: 0 auto 25px auto;
  }
}
